<template>
  <div class="vx-row">
    <div class="vx-col w-1/12">
      <p class="flex justify-center font-bold text-2xl text-primary">{{ clock }}</p>
    </div>
    <div class="vx-col w-11/12">
      <VTextMarquee
        class="the-footer flex-wrap justify-between text-2xl"
        :speed="duration"
      >{{ text }}</VTextMarquee>
    </div>
  </div>
</template>

<script>
import { VTextMarquee } from "vue-text-marquee";
import moment from "moment";

export default {
  data() {
    return { clock: moment().format("LTS") };
  },
  name: "the-footer",
  props: {
    text: {
      type: String,
      default:
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna."
    },
    duration: {
      type: Number,
      default: 75
    }
  },
  components: { VTextMarquee },
  mounted: function() {
    setInterval(() => {
      this.clock = moment().format("LTS");
    }, 1000);
  }
};
</script>
