<template>
  <div class="app-db-employee" id="app-db-employee">
    <vx-card title="Tabel Data Pegawai" refresh-content-action>
      <p v-if="!employees">Sedang memuat halaman...</p>
      <vs-table stripe search max-items="15" pagination :data="employees" v-else>
        <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
          <div class="flex flex-wrap-reverse items-center">
            <vs-button
              color="primary"
              type="filled"
              icon-pack="feather"
              icon="icon-user-plus"
              class="mr-2"
              :to="{ name: 'database-employee-profile-add' }"
            >Tambah Data</vs-button>
          </div>
        </div>

        <template slot="thead">
          <vs-th>NIP</vs-th>
          <vs-th>Nama</vs-th>
          <vs-th>Jenis Kelamin</vs-th>
          <vs-th>Agama</vs-th>
          <vs-th>Status Kawin</vs-th>
          <vs-th>Golongan Darah</vs-th>
          <vs-th>Cuti</vs-th>
        </template>

        <template slot-scope="{ data }">
          <vs-tr :data="tr" :key="`emp-${indextr}`" v-for="(tr, indextr) in data">
            <vs-td :data="tr.nip">{{ tr.nip }}</vs-td>
            <vs-td :data="tr.name">{{ tr.name }}</vs-td>
            <vs-td
              :data="tr.gender"
            >{{ decoder.gender2.filter(item => item.value == tr.gender)[0].text }}</vs-td>
            <vs-td :data="tr.religion">{{ tr.religion }}</vs-td>
            <vs-td :data="tr.marital">{{ tr.marital }}</vs-td>
            <vs-td :data="tr.blood_type">{{ tr.blood_type }}</vs-td>
            <vs-td :data="tr.cuti">{{ tr.cuti }}</vs-td>

            <template class="expand-user" slot="expand">
              <div class="con-expand-users w-full">
                <div class="con-btns-user flex items-center justify-between">
                  <div class="con-userx flex items-center justify-start">
                    <vs-avatar v-if="tr.picture.startsWith('http')" size="60px" :src="tr.picture" />
                    <vs-avatar
                      v-else
                      size="60px"
                      :src="require(`@/assets/images/portrait/user.png`)"
                    />
                    <div class="ml-3">
                      <h5>{{ tr.name }}</h5>
                      <p class="text-base font-medium">{{ tr.jabatan.nama }}</p>
                      <p>{{ tr.position_type }}</p>
                    </div>
                  </div>
                  <div class="flex">
                    <vx-tooltip text="Halaman Profile" position="bottom" delay=".3s">
                      <vs-button
                        type="filled"
                        size="default"
                        icon-pack="feather"
                        icon="icon-user"
                        color="primary"
                        class="mr-2"
                        @click="getProfile(tr.nip)"
                      ></vs-button>
                    </vx-tooltip>
                    <vx-tooltip text="Edit Data" position="bottom" delay=".3s">
                      <vs-button
                        type="border"
                        size="default"
                        icon-pack="feather"
                        icon="icon-edit"
                        color="primary"
                        class="mr-2"
                        @click="getProfile(tr.nip, 'edit')"
                      ></vs-button>
                    </vx-tooltip>
                    <vx-tooltip text="Hapus Data" position="bottom" delay=".3s">
                      <vs-button
                        type="border"
                        size="default"
                        icon-pack="feather"
                        icon="icon-trash-2"
                        color="danger"
                        @click="promptDelete(tr)"
                      ></vs-button>
                    </vx-tooltip>
                  </div>
                </div>

                <vs-divider>
                  <p class="font-medium text-base">Informasi Kontak</p>
                </vs-divider>
                <div class="flex justify-between mb-8 px-2">
                  <div class="w-1/3">
                    <p class="text-base font-semibold text-left">Kelahiran</p>
                    <p
                      class="text-base text-left"
                    >{{ tr.birth_place }}, {{ tr.birth_date | format_date }}</p>
                  </div>
                  <div class="w-1/3">
                    <p class="text-base font-semibold text-center">Alamat</p>
                    <p class="text-base text-center">{{ tr.address }}</p>
                  </div>
                  <div class="w-1/3">
                    <p class="text-base font-semibold text-right">Email</p>
                    <p class="text-base text-right">{{ tr.email }}</p>
                  </div>
                </div>
              </div>
            </template>
          </vs-tr>
        </template>
      </vs-table>
    </vx-card>
  </div>
</template>

<script>
import decoder from "@/utils/decoder";
import { mapGetters } from "vuex";
import { EMP_FETCH_ALL, EMP_DELETE } from "../../store/action-types";

export default {
  data() {
    return {
      decoder: decoder,
      selectedDelete: null
    };
  },
  computed: {
    ...mapGetters(["employees"])
  },
  mounted() {
    this.fetchEmployees();
  },
  methods: {
    fetchEmployees() {
      const payload = {
        notify: this.$vs.notify
      };
      this.$store.dispatch(EMP_FETCH_ALL, payload);
    },
    deleteEmployees() {
      const payload = {
        employee: this.selectedDelete,
        notify: this.$vs.notify
      };
      this.$store.dispatch(EMP_DELETE, payload);
      this.fetchEmployees();
    },
    getProfile(nip, type = "get") {
      if (type == "get") {
        this.$router.push({
          name: "database-employee-profile",
          query: { nip: nip }
        });
      } else if (type == "edit") {
        this.$router.push({
          name: "database-employee-profile-edit",
          query: { nip: nip }
        });
      }
    },
    promptDelete(employee) {
      this.selectedDelete = employee;
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        title: `Konfirmasi`,
        text:
          "Apakah anda yakin ingin menghapus data pegawai " +
          employee.name +
          " ?",
        accept: this.deleteEmployees
      });
    }
  }
};
</script>

<style lang="scss">
#app-db-employee {
  .vs-con-table {
    .vs-table--thead {
      th {
        .vs-table-text {
          text-transform: uppercase;
        }
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
