<template>
  <div class="app-employee-form-add" id="app-employee-form-add">
    <vx-card>
      <form-wizard
        color="rgba(var(--vs-primary), 1)"
        errorColor="rgba(var(--vs-danger), 1)"
        title="Formulir Data Pegawai"
        subtitle="Silahkan lengkapi formulir data pegawai dibawah ini."
        nextButtonText="Selanjutnya"
        backButtonText="Kembali"
        finishButtonText="Simpan"
        @on-complete="promptFinish()"
      >
        <tab-content
          title="Identitas"
          class="mb-5"
          icon="feather icon-user"
          :before-change="validateStep1"
        >
          <!-- tab 1 content -->
          <form data-vv-scope="step-1">
            <div class="vx-row">
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input label="Gelar Depan" v-model="first_degree" class="w-full" />
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input label="Gelar Belakang" v-model="last_degree" class="w-full" />
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  label="Nama Depan"
                  v-model="first_name"
                  class="w-full"
                  name="first-name"
                  v-validate="'required|alpha'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.first-name')"
                >{{ errors.first("step-1.first-name") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  label="Nama Belakang"
                  v-model="last_name"
                  class="w-full"
                  name="last-name"
                  v-validate="'required|alpha'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.last-name')"
                >{{ errors.first("step-1.last-name") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  label="Nomor Induk Kependudukan"
                  v-model="nik"
                  class="w-full"
                  name="nik"
                  v-validate="'required|numeric'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.nik')"
                >{{ errors.first("step-1.nik") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  v-model="gender"
                  class="w-full"
                  name="gender"
                  label="Jenis Kelamin"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item,index) in genderOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.gender')"
                >{{ errors.first("step-1.gender") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  label="Tempat Lahir"
                  v-model="birth_place"
                  class="w-full"
                  name="birth-place"
                  v-validate="'required|alpha'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.birth-place')"
                >{{ errors.first("step-1.birth-place") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Tanggal Lahir</span>
                <datepicker
                  class="w-full"
                  v-model="birth_date"
                  name="birth-date"
                  v-validate="'required'"
                  :language="id_lang"
                  :format="date_format"
                ></datepicker>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.birth-date')"
                >{{ errors.first("step-1.birth-date") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  v-model="blood_type"
                  class="w-full"
                  name="blood-type"
                  label="Golongan Darah"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item,index) in bloodOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.blood-type')"
                >{{ errors.first("step-1.blood-type") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  v-model="religion"
                  class="w-full"
                  name="religion"
                  label="Agama"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item,index) in religionOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.religion')"
                >{{ errors.first("step-1.religion") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  v-model="marital_status"
                  class="w-full"
                  name="marital-status"
                  label="Status Kawin"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item,index) in maritalOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.marital-status')"
                >{{ errors.first("step-1.marital-status") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  label="Jumlah Anak"
                  v-model="num_of_child"
                  class="w-full"
                  name="num-of-child"
                  v-validate="'required|numeric'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.num-of-child')"
                >{{ errors.first("step-1.num-of-child") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Alamat</span>
                <vs-textarea
                  v-model="address"
                  class="w-full"
                  name="address"
                  v-validate="'required'"
                  height="100"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.address')"
                >{{ errors.first("step-1.address") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  type="email"
                  label="Email"
                  v-model="email"
                  class="w-full"
                  name="email"
                  v-validate="'required|email'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-1.email')"
                >{{ errors.first("step-1.email") }}</span>
              </div>
            </div>
          </form>
        </tab-content>

        <!-- tab 2 content -->
        <tab-content
          title="Kepegawaian"
          class="mb-5"
          icon="feather icon-briefcase"
          :before-change="validateStep2"
        >
          <form data-vv-scope="step-2">
            <div class="vx-row">
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Status Kepegawaian</span>
                <ul>
                  <li>
                    <vs-radio
                      name="position-type"
                      v-validate="'required'"
                      v-model="position_type"
                      :vs-value="1"
                    >Struktural</vs-radio>
                  </li>
                  <li>
                    <vs-radio
                      name="position-type"
                      v-validate="'required'"
                      v-model="position_type"
                      :vs-value="2"
                    >Fungsional</vs-radio>
                  </li>
                </ul>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.position-type')"
                >{{ errors.first("step-2.position-type") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  label="Nomor Induk Pegawai"
                  v-model="nip"
                  class="w-full"
                  name="nip"
                  v-validate="'required|numeric|digits:18'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.nip')"
                >{{ errors.first("step-2.nip") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  v-model="unit_id"
                  class="w-full"
                  name="unit-id"
                  label="Unit Kerja"
                  v-validate="'required'"
                  @change="unitChanges()"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item,index) in unitOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.unit-id')"
                >{{ errors.first("step-2.unit-id") }}</span>
              </div>
              <div
                class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5"
                v-if="[2,3,4].indexOf(unit_id) > -1"
              >
                <vs-select
                  v-if="unit_id == 2"
                  v-model="subunit_id"
                  class="w-full"
                  name="subunit-id"
                  label="Sub Unit Kerja"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item,index) in subunit2Options"
                    class="w-full"
                  />
                </vs-select>
                <vs-select
                  v-else-if="unit_id == 3"
                  v-model="subunit_id"
                  class="w-full"
                  name="subunit-id"
                  label="Sub Unit Kerja"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item,index) in subunit3Options"
                    class="w-full"
                  />
                </vs-select>
                <vs-select
                  v-else-if="unit_id == 4"
                  v-model="subunit_id"
                  class="w-full"
                  name="subunit-id"
                  label="Sub Unit Kerja"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item,index) in subunit4Options"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.subunit-id')"
                >{{ errors.first("step-2.subunit-id") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-select
                  v-model="golongan_id"
                  class="w-full"
                  name="golongan-id"
                  label="Golongan"
                  v-validate="'required'"
                >
                  <vs-select-item
                    :key="index"
                    :value="item.value"
                    :text="item.text"
                    v-for="(item,index) in golonganOptions"
                    class="w-full"
                  />
                </vs-select>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.golongan-id')"
                >{{ errors.first("step-2.golongan-id") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Tanggal Pengangkatan</span>
                <datepicker
                  class="w-full"
                  v-model="golongan_date"
                  name="golongan-date"
                  v-validate="'required'"
                  :language="id_lang"
                  :format="date_format"
                ></datepicker>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.golongan-date')"
                >{{ errors.first("step-2.golongan-date") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  label="Jabatan"
                  v-model="jabatan_name"
                  class="w-full"
                  name="jabatan-name"
                  v-validate="'required'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.jabatan-name')"
                >{{ errors.first("step-2.jabatan-name") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  label="Nomor Keputusan"
                  v-model="jabatan_sk_name"
                  class="w-full"
                  name="jabatan-sk-name"
                  v-validate="'required'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.jabatan-sk-name')"
                >{{ errors.first("step-2.jabatan-sk-name") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <span class="vs-input--label">Tanggal Keputusan</span>
                <datepicker
                  class="w-full"
                  v-model="jabatan_sk_date"
                  name="jabatan-sk-date"
                  v-validate="'required'"
                  :language="id_lang"
                  :format="date_format"
                ></datepicker>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.jabatan-sk-date')"
                >{{ errors.first("step-2.jabatan-sk-date") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <vs-input
                  label="Jumlah Cuti"
                  v-model="num_of_cuti"
                  class="w-full"
                  name="num-of-cuti"
                  v-validate="'required|numeric'"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.num-of-cuti')"
                >{{ errors.first("step-2.num-of-cuti") }}</span>
              </div>
              <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/2 mt-5">
                <p class="text-sm">Tipe Akun:</p>
                <ul>
                  <li>
                    <vs-radio
                      name="role-id"
                      v-validate="'required'"
                      v-model="role_id"
                      :vs-value="2"
                    >Admin</vs-radio>
                  </li>
                  <li>
                    <vs-radio
                      name="role-id"
                      v-validate="'required'"
                      v-model="role_id"
                      :vs-value="3"
                    >User</vs-radio>
                  </li>
                </ul>
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('step-2.role-id')"
                >{{ errors.first("step-2.role-id") }}</span>
              </div>
            </div>
          </form>
        </tab-content>

        <!-- tab 3 content -->
        <tab-content
          title="Pendidikan & Diklat"
          class="mb-5"
          icon="feather icon-bookmark"
          :before-change="validateStep3"
        >
          <form data-vv-scope="step-3">
            <div class="vx-row">
              <div class="vx-col w-full mt-5">
                <vs-table stripe :data="educations">
                  <template slot="header">
                    <div class="w-full">
                      <div class="vx-row mb-5">
                        <div class="vx-col w-full">
                          <vs-divider>Pendidikan</vs-divider>
                        </div>
                        <div class="vx-col w-full flex justify-center">
                          <vs-button
                            color="primary"
                            type="border"
                            icon-pack="feather"
                            icon="icon-plus"
                            @click="addRowEdu()"
                          >Tambah Data</vs-button>
                        </div>
                      </div>
                    </div>
                  </template>
                  <template slot="thead">
                    <vs-th>Tahun Lulus</vs-th>
                    <vs-th>Prodi</vs-th>
                    <vs-th>Jurusan</vs-th>
                    <vs-th>Institusi</vs-th>
                    <vs-th>Aksi</vs-th>
                  </template>

                  <template slot-scope="{ data }">
                    <vs-tr :data="tr" :key="`edu-${indextr}`" v-for="(tr, indextr) in data">
                      <vs-td :data="tr.edu_year">
                        <vs-input
                          v-model="tr.edu_year"
                          class="w-full"
                          name="edu-year"
                          v-validate="'required|numeric|digits:4'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-3.edu-year')"
                        >{{ errors.first("step-3.edu-year") }}</span>
                      </vs-td>
                      <vs-td :data="tr.edu_degree">
                        <vs-select
                          v-model="tr.edu_degree"
                          class="w-full"
                          name="edu-degree"
                          v-validate="'required'"
                        >
                          <vs-select-item
                            :key="index"
                            :value="item.value"
                            :text="item.text"
                            v-for="(item,index) in degreeOptions"
                            class="w-full"
                          />
                        </vs-select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-3.edu-degree')"
                        >{{ errors.first("step-3.edu-degree") }}</span>
                      </vs-td>
                      <vs-td :data="tr.edu_major">
                        <vs-input
                          v-model="tr.edu_major"
                          class="w-full"
                          name="edu-major"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-3.edu-major')"
                        >{{ errors.first("step-3.edu-major") }}</span>
                      </vs-td>
                      <vs-td :data="tr.edu_institue">
                        <vs-input
                          v-model="tr.edu_institue"
                          class="w-full"
                          name="edu-institue"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-3.edu-institue')"
                        >{{ errors.first("step-3.edu-institue") }}</span>
                      </vs-td>
                      <vs-td>
                        <div class="flex">
                          <vx-tooltip text="Hapus" position="bottom" delay=".3s">
                            <vs-button
                              type="filled"
                              size="default"
                              icon-pack="feather"
                              icon="icon-trash-2"
                              color="danger"
                              class="mr-2"
                              @click="removeRowEdu(indextr)"
                            ></vs-button>
                          </vx-tooltip>
                        </div>
                      </vs-td>
                    </vs-tr>
                  </template>
                </vs-table>
              </div>
              <div class="vx-col w-full mt-20">
                <vs-table stripe :data="diklats">
                  <template slot="header">
                    <div class="w-full">
                      <div class="vx-row mb-5">
                        <div class="vx-col w-full">
                          <vs-divider>Diklat</vs-divider>
                        </div>
                        <div class="vx-col w-full flex justify-center">
                          <vs-button
                            color="primary"
                            type="border"
                            icon-pack="feather"
                            icon="icon-plus"
                            @click="addRowDiklat()"
                          >Tambah Data</vs-button>
                        </div>
                      </div>
                    </div>
                  </template>
                  <template slot="thead">
                    <vs-th>Tahun Diklat</vs-th>
                    <vs-th>Judul Diklat</vs-th>
                    <vs-th>Aksi</vs-th>
                  </template>

                  <template slot-scope="{ data }">
                    <vs-tr :data="tr" :key="`diklat-${indextr}`" v-for="(tr, indextr) in data">
                      <vs-td :data="tr.diklat_year">
                        <vs-input
                          v-model="tr.diklat_year"
                          class="w-full"
                          name="diklat-year"
                          v-validate="'required|numeric|digits:4'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-3.diklat-year')"
                        >{{ errors.first("step-3.diklat-year") }}</span>
                      </vs-td>
                      <vs-td :data="tr.diklat_title">
                        <vs-input
                          v-model="tr.diklat_title"
                          class="w-full"
                          name="diklat-title"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-3.diklat-title')"
                        >{{ errors.first("step-3.diklat-title") }}</span>
                      </vs-td>
                      <vs-td>
                        <div class="flex">
                          <vx-tooltip text="Hapus" position="bottom" delay=".3s">
                            <vs-button
                              type="filled"
                              size="default"
                              icon-pack="feather"
                              icon="icon-trash-2"
                              color="danger"
                              class="mr-2"
                              @click="removeRowDiklat(indextr)"
                            ></vs-button>
                          </vx-tooltip>
                        </div>
                      </vs-td>
                    </vs-tr>
                  </template>
                </vs-table>
              </div>
            </div>
          </form>
        </tab-content>
      </form-wizard>
    </vx-card>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import { id } from "vuejs-datepicker/dist/locale";
import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import { EMP_ADD } from "@/store/action-types";
import decoder from "@/utils/decoder";

export default {
  data() {
    return {
      // datepicker
      id_lang: id,
      date_format: "dd MMMM yyyy",

      // step-1
      first_degree: null,
      first_name: null,
      last_name: null,
      last_degree: null,
      nik: null,
      gender: null,
      genderOptions: decoder.gender,
      birth_place: null,
      birth_date: null,
      blood_type: null,
      bloodOptions: decoder.blood,
      religion: null,
      religionOptions: decoder.religion,
      marital_status: null,
      maritalOptions: decoder.marital,
      num_of_child: null,
      address: null,
      email: null,

      // step-2
      position_type: null,
      nip: null,
      unit_id: null,
      unitOptions: decoder.unit,
      subunit_id: null,
      subunit2Options: decoder.unit.filter(unit => unit.value == 2)[0].subunit,
      subunit3Options: decoder.unit.filter(unit => unit.value == 3)[0].subunit,
      subunit4Options: decoder.unit.filter(unit => unit.value == 4)[0].subunit,
      golongan_id: null,
      golonganOptions: decoder.golongan,
      golongan_date: null,
      jabatan_name: null,
      jabatan_sk_name: null,
      jabatan_sk_date: null,
      num_of_cuti: null,
      role_id: null,

      // step-3
      educations: [],
      degreeOptions: decoder.degree,
      diklats: []
    };
  },
  created() {
    const dict = {
      custom: {
        // step-1
        "first-name": {
          required:
            "Nama depan tidak boleh kosong, silahkan masukkan nama depan pegawai.",
          alpha:
            "Nama pegawai hanya mengandung huruf, silahkan periksa kembali."
        },
        "last-name": {
          required:
            "Nama belakang tidak boleh kosong, silahkan masukkan nama belakang pegawai.",
          alpha:
            "Nama pegawai hanya mengandung huruf, silahkan periksa kembali."
        },
        nik: {
          required:
            "Nomor induk kependudukan tidak boleh kosong, silahkan masukkan nomor induk kependudukan pegawai.",
          numeric:
            "Nomor induk kependudukan hanya mengandung angka, silahkan periksa kembali."
        },
        gender: {
          required:
            "Jenis kelamin tidak boleh kosong, silahkan pilih jenis kelamin pegawai."
        },
        "birth-place": {
          required:
            "Tempat lahir tidak boleh kosong, silahkan masukkan tempat lahir pegawai.",
          alpha: "Nama tempat hanya mengandung huruf, silahkan periksa kembali."
        },
        "birth-date": {
          required:
            "Tanggal lahir tidak boleh kosong, silahkan masukkan tanggal lahir pegawai."
        },
        "blood-type": {
          required:
            "Golongan darah tidak boleh kosong, silahkan pilih golongan darah pegawai."
        },
        religion: {
          required: "Agama tidak boleh kosong, silahkan pilih agama pegawai."
        },
        "marital-status": {
          required:
            "Status kawin tidak boleh kosong, silahkan pilih status kawin pegawai."
        },
        "num-of-child": {
          required:
            "Jumlah anak tidak boleh kosong, silahkan masukkan jumlah anak pegawai. Jika tidak memiliki, masukkan 0.",
          numeric:
            "Jumlah anak hanya mengandung angka, silahkan periksa kembali."
        },
        address: {
          required:
            "Alamat tidak boleh kosong, silahkan masukkan alamat pegawai."
        },
        email: {
          required:
            "Email tidak boleh kosong, silahkan masukkan email pegawai.",
          email:
            "Alamat email pegawai yang anda masukkan tidak valid, silahkan periksa kembali."
        },

        // step-2
        "position-type": {
          required:
            "Status kepegawaian tidak boleh kosong, silahkan pilih status kepegawaian."
        },
        nip: {
          required:
            "Nomor induk pegawai tidak boleh kosong, silahkan masukkan nomor induk pegawai.",
          numeric:
            "Nomor induk pegawai hanya mengandung angka, silahkan periksa kembali.",
          digits:
            "Nomor induk pegawai hanya mengandung 18 angka, silahkan periksa kembali."
        },
        "unit-id": {
          required:
            "Unit kerja tidak boleh kosong, silahkan pilih unit kerja pegawai."
        },
        "subunit-id": {
          required:
            "Sub-unit kerja tidak boleh kosong, silahkan pilih sub-unit kerja pegawai."
        },
        "golongan-id": {
          required:
            "Golongan tidak boleh kosong, silahkan pilih golongan pegawai."
        },
        "golongan-date": {
          required:
            "Tanggal pengangkatan tidak boleh kosong, silahkan masukkan tanggal pengangkatan pegawai."
        },
        "jabatan-name": {
          required:
            "Nama jabatan tidak boleh kosong, silahkan masukkan nama jabatan pegawai."
        },
        "jabatan-sk-name": {
          required:
            "Judul sk tidak boleh kosong, silahkan masukkan judul sk pengangkatan pegawai."
        },
        "jabatan-sk-date": {
          required:
            "Tanggal sk tidak boleh kosong, silahkan masukkan tanggal sk pengangkatan pegawai."
        },
        "role-id": {
          required:
            "Tipe akun tidak boleh kosong, silahkan pilih tipe akun pegawai."
        },
        "num-of-cuti": {
          required:
            "Jumlah cuti tidak boleh kosong, silahkan masukkan jumlah cuti pegawai. Jika tidak memiliki, masukkan 0.",
          numeric:
            "Jumlah cuti pegawai hanya mengandung angka, silahkan periksa kembali."
        },

        // step-3
        "edu-year": {
          required:
            "Tahun kelulusan tidak boleh kosong, silahkan masukkan tahun kelulusan pegawai.",
          numeric:
            "Tahun kelulusan hanya mengandung angka, silahkan periksa kembali.",
          digits:
            "Tahun kelulusan hanya mengandung 4 angka, silahkan periksa kembali"
        },
        "edu-degree": {
          required:
            "Program studi tidak boleh kosong, silahkan masukkan program studi pegawai."
        },
        "edu-major": {
          required:
            "Jurusan program studi tidak boleh kosong, silahkan masukkan jurusan program studi pegawai."
        },
        "edu-institue": {
          required:
            "Nama institusi tidak boleh kosong, silahkan masukkan nama institusi pendidikan pegawai."
        },
        "diklat-year": {
          required:
            "Tahun diklat tidak boleh kosong, silahkan masukkan tahun diklat pegawai.",
          numeric:
            "Tahun diklat hanya mengandung angka, silahkan periksa kembali.",
          digits:
            "Tahun diklat hanya mengandung 4 angka, silahkan periksa kembali"
        },
        "diklat-title": {
          required:
            "Judul diklat tidak boleh kosong, silahkan masukkan judul diklat pegawai."
        }
      }
    };
    this.$validator.localize("en", dict);
  },
  methods: {
    validateStep1() {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll("step-1").then(result => {
          if (result) {
            resolve(true);
          } else {
            reject("Input tidak valid.");
          }
        });
      });
    },
    validateStep2() {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll("step-2").then(result => {
          if (result) {
            resolve(true);
          } else {
            reject("Input tidak valid.");
          }
        });
      });
    },
    validateStep3() {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll("step-3").then(result => {
          if (result) {
            resolve(true);
          } else {
            reject("Input tidak valid.");
          }
        });
      });
    },
    unitChanges() {
      this.subunit_id = null;
    },
    addRowEdu() {
      this.educations.push({
        edu_year: null,
        edu_degree: null,
        edu_major: null,
        edu_institue: null
      });
    },
    removeRowEdu(index) {
      this.educations.splice(index, 1);
    },
    addRowDiklat() {
      this.diklats.push({
        diklat_year: null,
        diklat_title: null
      });
    },
    removeRowDiklat(index) {
      this.diklats.splice(index, 1);
    },
    promptFinish() {
      this.$vs.dialog({
        type: "confirm",
        color: "primary",
        title: `Konfirmasi`,
        text:
          "Apakah formulir data pegawai " + this.first_name + " sudah sesuai ?",
        accept: this.saveForm
      });
    },
    saveForm() {
      const payload = {
        notify: this.$vs.notify,
        user_form: {
          // step-1
          first_degree: this.first_degree,
          first_name: this.first_name,
          last_name: this.last_name,
          last_degree: this.last_degree,
          nik: this.nik,
          gender: this.gender,
          birth_place: this.birth_place,
          birth_date: this.birth_date,
          blood_type: this.blood_type,
          religion: this.religion,
          marital_status: this.marital_status,
          num_of_child: this.num_of_child,
          address: this.address,
          email: this.email,

          // step-2
          position_type: this.position_type,
          nip: this.nip,
          unit_id: this.unit_id,
          subunit_id: this.subunit_id,
          golongan_id: this.golongan_id,
          golongan_date: this.golongan_date,
          jabatan_name: this.jabatan_name,
          jabatan_sk_name: this.jabatan_sk_name,
          jabatan_sk_date: this.jabatan_sk_date,
          num_of_cuti: this.num_of_cuti,
          role_id: this.role_id,

          // step-3
          educations: this.educations,
          diklats: this.diklats
        }
      };
      this.$store
        .dispatch(EMP_ADD, payload)
        .then(() => this.$router.push({ name: "database-employee" }));
    }
  },
  components: {
    FormWizard,
    TabContent,
    Datepicker
  }
};
</script>

<style lang="scss">
#app-employee-form-add {
  .vs-con-table {
    .vs-table--thead {
      th {
        .vs-table-text {
          text-transform: uppercase;
        }
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>