<template>
  <div class="app-information-board">
    <div class="vx-row">
      <div class="vx-col w-full mb-base">
        <vx-card>
          <div class="vx-row">
            <div class="vx-col w-1/3">
              <img
                src="@/assets/images/logo/logo-kemnaker.png"
                class="ml-auto"
                width="7%"
                height="auto"
              />
            </div>
            <div class="vx-col w-2/3 text-left uppercase font-bold text-2xl text-primary">
              <p>DIREKTORAT KELEMBAGAAN DAN KERJASAMA HUBUNGAN INDUSTRIAL</p>
              <p>DIREKTORAT JENDRAL PEMBINAAN HUBUNGAN INDUSTRIAL DAN JAMINAN SOSIAL TENAGA KERJA</p>
              <p>KEMENTERIAN KETENAGAKERJAAN REPUBLIK INDONESIA</p>
            </div>
          </div>
        </vx-card>
      </div>

      <div class="vx-col w-3/5 mb-base">
        <vx-card>
          <p v-if="!calendar">Sedang memuat halaman...</p>
          <ul v-else>
            <li
              v-for="(calendarItem, calendarIndex) in calendar"
              :key="`calendar-${calendarIndex}`"
            >
              <div class="flex items-center text-2xl font-bold">
                <div class="w-3/12 uppercase">{{ calendarItem.date | format_date }}</div>
                <!-- <div class="w-8/12"> -->
                <div class="w-9/12">
                  <div class="vs-component vs-divider">
                    <span
                      class="vs-divider-border after"
                      style="width: 100%; border-top: 2px solid rgba(0, 0, 0, 0.1);"
                    ></span>
                    <span
                      class="vs-divider-border before"
                      style="width: 100%; border-top: 2px solid rgba(0, 0, 0, 0.1);"
                    ></span>
                  </div>
                </div>
                <!-- <div class="w-1/12">
                  <vs-switch
                    class="float-right"
                    color="primary"
                    v-model="activeList[calendarIndex]"
                  />
                </div>-->
              </div>
              <!-- v-show="activeList[calendarIndex]" -->
              <ul v-if="calendarItem.events.length > 0">
                <li
                  v-for="(agenda, agendaIndex) in calendarItem.events"
                  :key="`agd-${agendaIndex}`"
                >
                  <div
                    class="vx-card my-3 p-3"
                    style="background-color: #E6E6E6;"
                    v-if="getDayType(agenda.start, agenda.end) == 0"
                  >
                    <div class="vx-row" style="color: #B6B6B6">
                      <div class="vx-col w-3/12 flex justify-center items-center">
                        <span
                          class="font-medium text-xl"
                        >{{ agenda.start | time }} - {{ agenda.end | time }}</span>
                      </div>
                      <div class="vx-col w-9/12 text-xl">
                        <p class="font-medium uppercase">{{ agenda.title }}</p>
                        <p class="font-normal">{{ agenda.desc }}</p>
                        <!-- <p class="font-normal">{{ agenda.location }}</p> -->
                      </div>
                    </div>
                  </div>
                  <div
                    class="vx-card my-3 p-3"
                    style="background-color: #495678;"
                    v-else-if="getDayType(agenda.start, agenda.end) == 1"
                  >
                    <div class="vx-row" style="color: #f7fafc">
                      <div class="vx-col w-3/12 flex justify-center items-center">
                        <span
                          class="font-semibold text-2xl"
                        >{{ agenda.start | time }} - {{ agenda.end | time }}</span>
                      </div>
                      <div class="vx-col w-9/12 text-xl">
                        <p class="font-bold uppercase">{{ agenda.title }}</p>
                        <p class="font-semibold">{{ agenda.desc }}</p>
                        <!-- <p class="font-normal">{{ agenda.location }}</p> -->
                      </div>
                    </div>
                  </div>
                  <div
                    class="vx-card my-3 p-3"
                    style="background-color: #e0e0e0;"
                    v-else-if="getDayType(agenda.start, agenda.end) == 2"
                  >
                    <div class="vx-row" style="color: #545454">
                      <div class="vx-col w-3/12 flex justify-center items-center">
                        <span
                          class="font-semibold text-2xl"
                        >{{ agenda.start | time }} - {{ agenda.end | time }}</span>
                      </div>
                      <div class="vx-col w-9/12 text-xl">
                        <p class="font-semibold uppercase">{{ agenda.title }}</p>
                        <p class="font-medium">{{ agenda.desc }}</p>
                        <!-- <p class="font-normal">{{ agenda.location }}</p> -->
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <p v-else class="italic font-light text-center">Tidak ada agenda untuk hari ini.</p>
            </li>
          </ul>
        </vx-card>
      </div>
      <div class="vx-col w-2/5 mb-base">
        <vx-card ref="player_container" class="mb-base">
          <template slot="no-body">
            <p v-if="!youtubeURL">Sedang memuat halaman...</p>
            <YoutubeVue
              v-else
              ref="player"
              :width="this.$refs.player_container.$refs.card.clientWidth"
              :height="720"
              :autoplay="1"
              :loop="1"
              :listType="`playlist`"
              :list="youtubeURL.id"
              :videoid="``"
            />
          </template>
        </vx-card>
        <vx-card>
          <div class="text-center">
            <h3 class="font-semibold uppercase">Catatan & Memo</h3>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
          </div>
          <p v-if="!news">Sedang memuat halaman...</p>
          <ul class="mt-base" v-else>
            <li
              class="flex items-center mb-base"
              v-for="(note, newsIndex) in news"
              :key="`note-${newsIndex}`"
            >
              <div>
                <p class="text-xl font-light">{{ note.created_at | format_date}}</p>
                <p class="text-xl font-semibold">{{ note.title }}</p>
                <p class="text-xl font-medium">{{ note.content }}</p>
              </div>
            </li>
          </ul>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import YoutubeVue from "youtube-vue";
import { mapGetters } from "vuex";
import {
  BRD_FETCH_CALENDAR,
  BRD_FETCH_INFORMATION
} from "../../store/action-types";

export default {
  data() {
    return {};
  },
  components: { YoutubeVue },
  computed: {
    ...mapGetters(["calendar", "activeList", "news", "youtubeURL"])
  },
  mounted() {
    this.fetchCalendar();
    this.fetchInformation("youtube");
    this.fetchInformation("news");
  },
  methods: {
    fetchCalendar() {
      const payload = {
        notify: this.$vs.notify,
        attempt: 3
      };
      this.$store.dispatch(BRD_FETCH_CALENDAR, payload);
    },
    fetchInformation(type) {
      const payload = {
        notify: this.$vs.notify,
        type: type
      };
      this.$store.dispatch(BRD_FETCH_INFORMATION, payload);
    },
    getDayType(start, end) {
      const now = new Date(Date.now());
      const start_date = new Date(start);
      const end_date = new Date(end);

      if (now > start_date) {
        if (now > end_date) {
          // unactive
          return 0;
        } else {
          // active
          return 1;
        }
      } else if (now <= start_date) {
        if (now.getDate() == start_date.getDate()) {
          // active
          return 1;
        } else {
          // future
          return 2;
        }
      }
    }
  }
};
</script>