<template>
  <div class="app-information-panel">
    <div class="vx-row">
      <div class="vx-col w-1/3 mb-base">
        <vx-card title="Panel Catatan & Memo">
          <vs-input
            label="Judul"
            v-model="note_title"
            class="w-full"
            name="note-title"
            data-vv-validate-on="blur"
            v-validate="'required'"
          />
          <span
            class="text-danger text-sm"
            v-show="errors.has('note-title')"
          >{{ errors.first("note-title") }}</span>

          <p class="vs-input--label mt-5">Konten</p>
          <vs-textarea
            v-model="note_content"
            class="w-full mb-0"
            name="note-content"
            data-vv-validate-on="blur"
            v-validate="'required'"
            height="100"
          />
          <span
            class="text-danger text-sm"
            v-show="errors.has('note-content')"
          >{{ errors.first("note-content") }}</span>

          <vs-button
            color="primary"
            type="filled"
            icon-pack="feather"
            icon="icon-plus"
            class="w-full mt-5"
            :disabled="!validateNoteForm"
            @click="addNote(note_title, note_content)"
          >Tambah Catatan</vs-button>
        </vx-card>
      </div>
      <div class="vx-col w-2/3 mb-base">
        <vx-card>
          <div class="text-center">
            <h4 class="font-semibold">Catatan & Memo</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
          </div>
          <p v-if="!news">Sedang memuat halaman...</p>
          <ul class="mt-base" v-else>
            <li
              class="flex items-center mb-base"
              v-for="(note, newsIndex) in news"
              :key="`note-${newsIndex}`"
            >
              <div>
                <p class="text-lg font-light">{{ note.created_at | format_date}}</p>
                <p class="text-lg font-semibold">{{ note.title }}</p>
                <p class="text-lg font-medium">{{ note.content }}</p>
              </div>
              <div class="ml-auto">
                <vx-tooltip text="Hapus" position="bottom" delay=".3s">
                  <vs-button
                    type="border"
                    size="default"
                    icon-pack="feather"
                    icon="icon-trash-2"
                    color="danger"
                    @click="promptDelete(note.title, note.id_news)"
                  ></vs-button>
                </vx-tooltip>
              </div>
            </li>
          </ul>
        </vx-card>
      </div>
      <div class="vx-col w-1/2 mb-base">
        <vx-card title="Panel Video">
          <p v-if="!youtubeURL">Sedang memuat halaman...</p>
          <vs-input
            v-else
            :disabled="!edit_youtube_url"
            label="Link Video"
            v-model="youtube_url"
            class="w-full"
            name="video-url"
            data-vv-validate-on="blur"
            v-validate="'required'"
          />
          <span
            class="text-danger text-sm"
            v-show="errors.has('video-url')"
          >{{ errors.first("video-url") }}</span>

          <vs-button
            v-if="!edit_youtube_url"
            color="primary"
            type="border"
            icon-pack="feather"
            icon="icon-edit-2"
            class="w-full mt-5"
            @click="editVideo"
          >Ubah</vs-button>

          <div class="flex justify-between mt-5" v-else>
            <vs-button
              color="success"
              type="filled"
              icon-pack="feather"
              icon="icon-check"
              class="w-1/3"
              :disabled="!validateVideoForm"
              @click="addVideo(youtube_url)"
            >Simpan</vs-button>
            <vs-button
              color="danger"
              type="border"
              icon-pack="feather"
              icon="icon-x"
              class="w-1/3"
              @click="cancelEditVideo"
            >Batalkan</vs-button>
          </div>
        </vx-card>
      </div>
      <div class="vx-col w-1/2 mb-base">
        <vx-card title="Panel Animasi Teks">
          <p class="vs-input--label">Teks</p>
          <p v-if="!youtubeURL">Sedang memuat halaman...</p>
          <vs-textarea
            v-else
            :disabled="!edit_running_text"
            v-model="running_text"
            class="w-full"
            name="running-text"
            data-vv-validate-on="blur"
            v-validate="'required'"
            height="200"
          />
          <span
            class="text-danger text-sm"
            v-show="errors.has('running-text')"
          >{{ errors.first("running-text") }}</span>

          <vs-button
            v-if="!edit_running_text"
            color="primary"
            type="border"
            icon-pack="feather"
            icon="icon-edit-2"
            class="w-full mt-5"
            @click="editText"
          >Ubah</vs-button>

          <div class="flex justify-between mt-5" v-else>
            <vs-button
              color="success"
              type="filled"
              icon-pack="feather"
              icon="icon-check"
              class="w-1/3"
              :disabled="!validateTextForm"
              @click="addText(running_text)"
            >Simpan</vs-button>
            <vs-button
              color="danger"
              type="border"
              icon-pack="feather"
              icon="icon-x"
              class="w-1/3"
              @click="cancelEditText"
            >Batalkan</vs-button>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import {
  BRD_FETCH_INFORMATION,
  BRD_DELETE_INFORMATION,
  BRD_ADD_INFORMATION,
  BRD_UPDATE_INFORMATION
} from "../../store/action-types";
import { BRD_SET_INFORMATION } from "../../store/mutation-types";

export default {
  data() {
    return {
      selected_note_id: null,
      note_title: null,
      note_content: null,
      youtube_url_temp: null,
      edit_youtube_url: false,
      running_text_temp: null,
      edit_running_text: false
    };
  },
  created() {
    const dict = {
      custom: {
        "note-title": {
          required:
            "Judul catatan tidak boleh kosong, silahkan masukkan judul catatan."
        },
        "note-content": {
          required:
            "Konten catatan tidak boleh kosong, silahkan masukkan konten catatan."
        },
        "video-url": {
          required: "URL video tidak boleh kosong, silahkan masukkan URL video."
        },
        "running-text": {
          required:
            "Teks animasi tidak boleh kosong, silahkan masukkan teks animasi."
        }
      }
    };
    this.$validator.localize("en", dict);
  },
  computed: {
    ...mapGetters(["news", "runningText", "youtubeURL"]),
    validateNoteForm() {
      return (
        !this.errors.any() &&
        this.note_title != "" &&
        this.note_content != "" &&
        this.note_title != null &&
        this.note_content != null
      );
    },
    validateVideoForm() {
      return (
        !this.errors.any() && this.youtube_url != "" && this.youtube_url != null
      );
    },
    validateTextForm() {
      return (
        !this.errors.any() &&
        this.running_text != "" &&
        this.running_text != null
      );
    },
    youtube_url: {
      set(url) {
        this.$store.commit(BRD_SET_INFORMATION, {
          type: "youtube",
          content: { url: url }
        });
      },
      get() {
        return this.youtubeURL.url;
      }
    },
    running_text: {
      set(text) {
        this.$store.commit(BRD_SET_INFORMATION, {
          type: "running_text",
          content: [{ id_running_text: 1, running_text: text }]
        });
      },
      get() {
        return this.runningText[0].running_text;
      }
    }
  },
  methods: {
    getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    },
    addNote(title, content) {
      const payload = {
        information: { title: title, content: content },
        notify: this.$vs.notify,
        type: "news"
      };

      this.$store.dispatch(BRD_ADD_INFORMATION, payload);
      this.fetchInformation("news");

      this.note_title = null;
      this.note_content = null;
    },
    addVideo(new_url) {
      const payload = {
        type: "youtube",
        information: { url: new_url },
        notify: this.$vs.notify
      };

      this.$store.dispatch(BRD_UPDATE_INFORMATION, payload);
      this.fetchInformation("youtube");

      this.youtube_url_temp = null;
      this.edit_youtube_url = false;
    },
    editVideo() {
      this.edit_youtube_url = true;
      this.youtube_url_temp = this.youtube_url;
    },
    cancelEditVideo() {
      this.youtube_url = this.youtube_url_temp;
      this.edit_youtube_url = false;
    },
    addText(url) {
      this.$vs.notify({
        time: 10000,
        title: "Berhasil disimpan",
        text: "Teks berhasil disimpan",
        color: "success",
        position: "top-center"
      });

      this.running_text_temp = null;
      this.running_text = url;
      this.edit_running_text = false;
    },
    editText() {
      this.edit_running_text = true;
      this.running_text_temp = this.running_text;
    },
    cancelEditText() {
      this.running_text = this.running_text_temp;
      this.edit_running_text = false;
    },
    promptDelete(title, id) {
      this.selected_note_id = id;
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        title: `Konfirmasi`,
        text: "Apakah anda yakin ingin menghapus berita " + title + " ?",
        accept: this.deleteNews
      });
    },
    fetchInformation(type) {
      const payload = {
        notify: this.$vs.notify,
        type: type
      };
      this.$store.dispatch(BRD_FETCH_INFORMATION, payload);
    },
    deleteNews() {
      const payload = {
        type: "news",
        information: { id_news: this.selected_note_id },
        notify: this.$vs.notify
      };
      this.$store.dispatch(BRD_DELETE_INFORMATION, payload);
      this.fetchInformation("news");
    }
  },
  mounted() {
    this.fetchInformation("news");
    this.fetchInformation("running_text");
    this.fetchInformation("youtube");
  }
};
</script>
