<template>
  <div
    class="flex justify-between px-4 py-4 notif__notif-item sm:px-4 px-2 py-6"
    :class="[{ 'notif__opened-notif': notif.read.read_status }]"
  >
    <div class="flex items-center">
      <feather-icon
        :icon="getIcon(notif.notif_type)"
        :svgClasses="[`text-${getCategory(notif.notif_type)}`, 'stroke-current mr-1 h-8 w-8']"
      ></feather-icon>
      <feather-icon
        v-if="notif.notif_type === '3'"
        :icon="getIcon(notif.notif_type)"
        :svgClasses="[`text-${getCategory(notif.notif_type)}`, 'stroke-current mr-1 h-8 w-8']"
      ></feather-icon>
      <div class="mx-2">
        <span
          class="font-medium text-base block notification-title"
          :class="[`text-${getCategory(notif.notif_type)}`]"
        >{{ notif.notif_name }}</span>
        <p class="font-normal text-sm">{{ notif.notif_content }}</p>
      </div>
    </div>
    <div v-if="!notif.read.read_status">
      <p
        class="font-normal text-sm mt-1 whitespace-pre md:whitespace-no-wrap lg:whitespace-no-wrap"
      >{{ elapsedTime(notif.notif_time_received) }}</p>
    </div>
    <div v-else class="text-right">
      <p
        class="font-normal text-sm mt-1 block whitespace-pre md:whitespace-no-wrap lg:whitespace-no-wrap"
      >{{ elapsedTime(notif.notif_time_received) }}</p>
      <p
        class="font-light text-sm italic"
        v-if="!notif.reader"
      >Telah dibaca pada {{ elapsedTime(notif.read.read_time) }}</p>
      <p
        class="font-light text-sm italic"
        v-else
      >Telah dibaca oleh {{ notif.reader.name }} pada {{ elapsedTime(notif.read.read_time) }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    notif: {
      type: Object,
      required: true
    },
    isNotifOpen: {
      type: Boolean
    },
    isSelected: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      isSelectedNotif: this.isSelected
    };
  },
  watch: {
    isSelected(value) {
      this.isSelectedNotif = value;
    },
    isSelectedNotif(val) {
      if (val) this.$emit("addToSelected", this.notif.notif_id);
      else this.$emit("removeSelected", this.notif.notif_id);
    }
  },
  methods: {
    getCategory(type) {
      if (type === "1") {
        return "success";
      } else if (type === "2") {
        return "danger";
      } else if (type === "3") {
        return "warning";
      } else {
        return "default";
      }
    },
    getIcon(type) {
      if (type === "1") {
        return "AwardIcon";
      } else if (type === "2") {
        return "FeatherIcon";
      } else if (type === "3") {
        return "StarIcon";
      } else {
        return "AlertTriangleIcon";
      }
    },
    elapsedTime(startTime) {
      let x = new Date(startTime);
      let now = new Date();
      var timeDiff = now - x;
      timeDiff /= 1000;

      var seconds = Math.round(timeDiff);
      timeDiff = Math.floor(timeDiff / 60);

      var minutes = Math.round(timeDiff % 60);
      timeDiff = Math.floor(timeDiff / 60);

      var hours = Math.round(timeDiff % 24);
      timeDiff = Math.floor(timeDiff / 24);

      var days = Math.round(timeDiff % 365);
      timeDiff = Math.floor(timeDiff / 365);

      var years = timeDiff;

      if (years > 0) {
        return years + (years > 1 ? " tahun " : " tahun ") + "yang lalu";
      } else if (days > 0) {
        return days + (days > 1 ? " hari " : " hari ") + "yang lalu";
      } else if (hours > 0) {
        return hours + (hours > 1 ? " jam " : " jam ") + "yang lalu";
      } else if (minutes > 0) {
        return minutes + (minutes > 1 ? " menit " : " menit ") + "yang lalu";
      } else if (seconds > 0) {
        return seconds + (seconds > 1 ? " detik yang lalu" : "baru saja");
      }

      return "baru saja";
    }
  }
};
</script>
