<template>
  <div class="app-profile-upload-avatar">
    <vx-card title="Ubah Photo Profile">
      <div class="mb-base">
        <ul>
          <li v-for="(file, index) in files" :key="`file-${index}`">
            <span>{{ file.name }}</span> -
            <span>{{ file.size }}</span> -
            <span v-if="file.error">{{ file.error }}</span>
            <span v-else-if="file.success">success</span>
            <span v-else-if="file.active">active</span>
            <span v-else-if="file.active">active</span>
            <span v-else></span>
          </li>
        </ul>
      </div>

      <file-upload
        class="vs-component vs-button vs-button-primary vs-button-filled"
        extensions="jpg, jpeg, png,"
        accept="image/png, image/jpeg"
        :multiple="false"
        :size="1024 * 1024 * 10"
        v-model="files"
      >Pilih Photo</file-upload>
    </vx-card>
  </div>
</template>

<script>
import FileUpload from "vue-upload-component";

export default {
  data() {
    return {
      files: []
    };
  },
  components: {
    FileUpload
  }
};
</script>
