<template>
  <div class="app-profile" id="app-profile">
    <p v-if="!profile">Sedang memuat halaman...</p>
    <div class="vx-row" v-else>
      <div
        class="vx-col w-full mb-base"
        :class="{'md:w-2/3 lg:w-2/3 xl:w-2/3': userStatus(profile.date_promotion, profile.date_retire) !== 'default'}"
      >
        <vx-card>
          <vs-avatar
            v-if="profile.picture.startsWith('http')"
            class="mx-auto my-6 block"
            size="128px"
            :src="profile.picture"
          />
          <vs-avatar
            v-else
            class="mx-auto my-4 block"
            size="128px"
            :src="require(`@/assets/images/portrait/user.png`)"
          />
          <div class="text-center">
            <h4 class="font-semibold">{{ profile.name }}</h4>
            <h5 class="font-normal mt-2">{{ profile.unit }}</h5>
          </div>
          <div class="flex justify-center mt-4">
            <vs-button
              color="primary"
              size="default"
              type="border"
              icon-pack="feather"
              icon="icon-user"
              @click="uploadPhoto"
            >Ubah Photo Profile</vs-button>
          </div>

          <!-- PLACEHOLDER IDENTITAS -->
          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Identitas</p>
            </vs-divider>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">NIK</p>
                <p class="text-base text-left">{{ profile.nik }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Jenis Kelamin</p>
                <p
                  class="text-base text-center"
                >{{ decoder.gender2.filter(item => item.value == profile.gender)[0].text }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Agama</p>
                <p class="text-base text-right">{{ profile.religion }}</p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Kelahiran</p>
                <p
                  class="text-base text-left"
                >{{ profile.birth_place }}, {{ profile.birth_date | format_date }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Status Kawin</p>
                <p class="text-base text-center">{{ profile.marital }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Jumlah Anak</p>
                <p class="text-base text-right">{{ profile.num_of_child }}</p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Alamat</p>
                <p class="text-base text-left">{{ profile.address }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Golongan Darah</p>
                <p class="text-base text-center">{{ profile.blood_type }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Email</p>
                <p class="text-base text-right">{{ profile.email }}</p>
              </div>
            </div>
          </div>

          <!-- PLACEHOLDER KEPEGAWAIAN -->
          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Kepegawaian</p>
            </vs-divider>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">NIP</p>
                <p class="text-base text-left">{{ profile.nip }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Status Kepegawaian</p>
                <p class="text-base text-center">{{ profile.position_type }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Status Akun</p>
                <p class="text-base text-right">{{ userDisplayRole }}</p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Jabatan</p>
                <p class="text-base text-left">{{ profile.jabatan.nama }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Tanggal Keputusan</p>
                <p class="text-base text-center">{{ profile.jabatan.tanggal | format_date }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Nomor Keputusan</p>
                <p class="text-base text-right">{{ profile.jabatan.keputusan }}</p>
              </div>
            </div>
            <div class="flex justify-between mb-8 px-2">
              <div class="w-1/3">
                <p class="text-base font-semibold text-left">Golongan</p>
                <p
                  class="text-base text-left"
                >{{ profile.golongan.ruang }} / {{ profile.golongan.nama }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-center">Tanggal Pengesahan</p>
                <p class="text-base text-center">{{ profile.golongan.tanggal | format_date }}</p>
              </div>
              <div class="w-1/3">
                <p class="text-base font-semibold text-right">Jumlah Cuti</p>
                <p class="text-base text-right">{{ profile.cuti }}</p>
              </div>
            </div>
          </div>

          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Pendidikan</p>
            </vs-divider>
            <p
              v-if="!profile.education.length"
              class="italic font-light text-center"
            >{{ profile.name}} tidak memiliki riwayat pendidikan.</p>
            <ul class="px-2" v-else v-for="(edu, index) in profile.education" :key="`edu-${index}`">
              <li>
                <div class="mb-5">
                  <p class="font-semibold text-base">{{ edu.year }} - {{ edu.institution }}</p>
                  <p class="text-base">{{ edu.degree }} {{ edu.major }}</p>
                </div>
              </li>
            </ul>
          </div>

          <div class="mt-10">
            <vs-divider>
              <p class="font-medium text-base">Diklat</p>
            </vs-divider>
            <p
              v-if="!profile.diklat.length"
              class="italic font-light text-center"
            >{{ profile.name}} tidak memiliki riwayat diklat.</p>
            <ul class="px-2" v-else v-for="(dik, index) in profile.diklat" :key="`dik-${index}`">
              <li>
                <div class="mb-5">
                  <p class="text-base font-semibold">{{ dik.year }} - {{ dik.name }}</p>
                  <p class="text-base">{{ dik.name }} {{ dik.year }}</p>
                </div>
              </li>
            </ul>
          </div>
        </vx-card>
      </div>

      <div
        class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3 mb-base"
        v-show="userStatus(profile.date_promotion, profile.date_retire) === 'promote' || userStatus(profile.date_promotion, profile.date_retire) === 'both'"
      >
        <vx-card>
          <div class="text-center">
            <h4 class="font-semibold">Status Persyaratan Kenaikan Pangkat</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
          </div>
          <ul class="mt-base">
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK CPNS</p>
                <span class="text-base">Surat Keterangan Calon Pegawai Negeri Sipil</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox color="primary" disabled="true" v-model="checkSkcpns" />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK PNS</p>
                <span class="text-base">Surat Keterangan Pegawai Negeri Sipil</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox color="primary" disabled="true" v-model="checkSkpns" />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK Pangkat</p>
                <span class="text-base">Surat Keterangan Kenaikan Pangkat Terakhir</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox color="primary" disabled="true" v-model="checkSkpt" />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SKP / DP3</p>
                <span
                  class="text-base"
                >Sasaran Kerja Pegawai / Daftar Penilaian Pelaksanaan Pekerjaan</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox color="primary" disabled="true" v-model="checkSkpdp3" />
              </div>
            </li>
          </ul>
        </vx-card>
      </div>

      <div
        class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3 mb-base"
        v-show="userStatus(profile.date_promotion, profile.date_retire) === 'retire' || userStatus(profile.date_promotion, profile.date_retire) === 'both'"
      >
        <vx-card>
          <div class="text-center">
            <h4 class="font-semibold">Status Persyaratan Pensiun</h4>
          </div>
          <div class="vs-component vs-divider">
            <span
              class="vs-divider-border after"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
            <span
              class="vs-divider-border before"
              style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
            ></span>
          </div>
          <ul class="mt-base">
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK CPNS</p>
                <span class="text-base">Surat Keterangan Calon Pegawai Negeri Sipil</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox color="primary" disabled="true" v-model="checkSkcpns" />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK PNS</p>
                <span class="text-base">Surat Keterangan Pegawai Negeri Sipil</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox color="primary" disabled="true" v-model="checkSkpns" />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SK Pangkat</p>
                <span class="text-base">Surat Keterangan Kenaikan Pangkat Terakhir</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox color="primary" disabled="true" v-model="checkSkpt" />
              </div>
            </li>
            <li class="flex items-center mb-4">
              <div>
                <p class="font-semibold text-base">SKP / DP3</p>
                <span
                  class="text-base"
                >Sasaran Kerja Pegawai / Daftar Penilaian Pelaksanaan Pekerjaan</span>
              </div>
              <div class="ml-auto">
                <vs-checkbox color="primary" disabled="true" v-model="checkSkpdp3" />
              </div>
            </li>
          </ul>
        </vx-card>
      </div>

      <!-- <div class="vx-col w-full mb-base">
        <vx-card title="Tabel Dokumen">
          <vs-table stripe max-items="10" pagination :data="docs">
            <template slot="thead">
              <vs-th>Judul</vs-th>
              <vs-th>Jenis</vs-th>
              <vs-th>Tipe File</vs-th>
              <vs-th>Ukuran File</vs-th>
              <vs-th>Aksi</vs-th>
            </template>

            <template slot-scope="{ data }">
              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                <vs-td :data="tr.name">{{ tr.name }}</vs-td>
                <vs-td :data="tr.type">{{ tr.type }}</vs-td>
                <vs-td :data="tr.extension">{{ tr.extension | format_upper }}</vs-td>
                <vs-td :data="tr.size">{{ tr.size | format_upper }}</vs-td>
                <vs-td>
                  <div class="flex">
                    <vx-tooltip text="Download" position="bottom" delay=".3s">
                      <vs-button
                        type="filled"
                        size="default"
                        icon-pack="feather"
                        icon="icon-download"
                        color="success"
                        class="mr-2"
                      ></vs-button>
                    </vx-tooltip>
                  </div>
                </vs-td>
              </vs-tr>
            </template>
          </vs-table>
        </vx-card>
      </div>-->
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { PROFILE_FETCH } from "../../store/action-types";
import decoder from "@/utils/decoder";
import document from "@/assets/json/docs";

export default {
  data() {
    return {
      docs: document,
      checkSkcpns: true,
      checkSkpns: true,
      checkSkpt: false,
      checkSkpdp3: false,
      decoder: decoder
    };
  },
  computed: {
    ...mapGetters(["profile", "userDisplayRole"])
  },
  mounted() {
    this.fetchProfile();
  },
  methods: {
    fetchProfile() {
      this.$vs.loading({
        type: "sound"
      });
      const payload = {
        notify: this.$vs.notify,
        closeLoading: this.$vs.loading.close
      };
      this.$store.dispatch(PROFILE_FETCH, payload);
    },
    userStatus(promote, retire) {
      const date_promote = new Date(promote);
      const date_retire = new Date(retire);

      if (
        new Date(Date.now()) >= date_promote &&
        new Date(Date.now()) >= date_retire
      ) {
        return "both";
      } else if (
        new Date(Date.now()) >= date_promote &&
        new Date(Date.now()) < date_retire
      ) {
        return "promote";
      } else if (
        new Date(Date.now()) < date_promote &&
        new Date(Date.now()) >= date_retire
      ) {
        return "retire";
      } else {
        return "default";
      }
    },
    uploadPhoto() {
      this.$router.push({
        name: "profile-upload-avatar"
      });
    }
  }
};
</script>

<style lang="scss">
#app-profile {
  .vs-con-table {
    .vs-table--thead {
      th {
        .vs-table-text {
          text-transform: uppercase;
        }
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>