<template>
  <div class="app-promotion">
    <vx-card title="Tabel Promosi" refresh-content-action @refresh="reloadData">
      <vs-table stripe search max-items="10" pagination :data="users">
        <template slot="thead">
          <vs-th>Nama</vs-th>
          <vs-th>NIP</vs-th>
          <vs-th>Jabatan</vs-th>
          <vs-th>Tanggal Masuk</vs-th>
          <vs-th>Status</vs-th>
          <vs-th>Proses</vs-th>
        </template>

        <template slot-scope="{ data }">
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td :data="tr.fullname">{{ tr.fullname }}</vs-td>
            <vs-td :data="tr.nip">{{ tr.nip }}</vs-td>
            <vs-td :data="tr.role">{{ tr.role }}</vs-td>
            <vs-td :data="tr.join_date">{{ tr.join_date }}</vs-td>
            <vs-td :data="tr.status">
              <vs-chip :color="statusColor(tr.status)">
                <b>{{ statusDecoder(tr.status) }}</b>
              </vs-chip>
            </vs-td>
            <vs-td :data="tr.state">{{ stateDecoder(tr.state) }}</vs-td>

            <template class="expand-user" slot="expand">
              <div class="con-expand-users w-full">
                <div class="con-btns-user flex items-center justify-between">
                  <div class="con-userx flex items-center justify-start">
                    <vs-avatar
                      size="60px"
                      :src="
                        `https://randomuser.me/api/portraits/men/${tr.id}.jpg`
                      "
                    />
                    <div class="ml-4">
                      <h5>{{ tr.fullname }}</h5>
                      <p>{{ tr.email }}</p>
                    </div>
                  </div>
                  <div class="flex">
                    <vs-button
                      v-if="!tr.is_reminded"
                      type="filled"
                      size="default"
                      icon-pack="feather"
                      icon="icon-bell"
                      >Kirim Reminder</vs-button
                    >
                    <vs-button
                      v-else
                      type="filled"
                      size="default"
                      icon-pack="feather"
                      icon="icon-send"
                      color="success"
                      >Update Data</vs-button
                    >
                  </div>
                </div>
                <vs-divider>Kelengkapan Dokumen</vs-divider>
                <vs-list v-for="(doc, idx_doc) in tr.document" :key="idx_doc">
                  <vs-list-item :title="doc.name" :subtitle="doc.desc">
                    <vs-checkbox
                      color="primary"
                      v-model="doc.is_done"
                      :disabled="doc.is_done"
                    />
                  </vs-list-item>
                </vs-list>
              </div>
            </template>
          </vs-tr>
        </template>
      </vs-table>
    </vx-card>
  </div>
</template>

<script>
import employees from "@/assets/json/reminder";

export default {
  data() {
    return {
      users: employees
    };
  },
  methods: {
    reloadData(card) {
      card.removeRefreshAnimation(3000);
    },
    statusColor(val) {
      if (val == 1) {
        return "success";
      } else if (val == 2) {
        return "warning";
      } else if (val == 3) {
        return "danger";
      }
    },
    statusDecoder(val) {
      if (val == 1) {
        return "Lajang";
      } else if (val == 2) {
        return "Menikah";
      } else if (val == 3) {
        return "Jomblo";
      }
    },
    stateDecoder(val) {
      if (val == 1) {
        return "Reminder Belum Dikirim";
      } else if (val == 2) {
        return "Reminder Terkirim";
      } else if (val == 3) {
        return "Validasi";
      }
    }
  }
};
</script>
