<template>
  <div class="app-report">
    <vx-card title="Laporan Data Kepegawaian">
      <div class="vx-row">
        <div class="vx-col w-full mb-3">
          <p>Silahkan pilih data yang akan dibuat:</p>
        </div>
        <div class="vx-col w-1/3">
          <vs-checkbox v-model="selectedField" vs-value="1">Unit Kerja</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="2">Sub Unit Kerja</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="3">NIK</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="4">NIP</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="5">Nama Lengkap</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="6">TTL</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="7">Jenis Kelamin</vs-checkbox>
        </div>
        <div class="vx-col w-1/3">
          <vs-checkbox v-model="selectedField" vs-value="8">Agama</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="9">Status Kawin + Jumlah Anak</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="10">Golongan Darah</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="11">Alamat</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="12">Email</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="13">Status Kepegawaian</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="14">Jumlah Cuti</vs-checkbox>
        </div>
        <div class="vx-col w-1/3">
          <vs-checkbox v-model="selectedField" vs-value="15">Tanggal Kenaikan Jabatan</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="16">Tanggal Pensiun</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="17">Pangkat / Golongan</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="18">Pendidikan</vs-checkbox>
          <vs-checkbox v-model="selectedField" vs-value="19">DIklat</vs-checkbox>
        </div>
        <div class="vx-col w-full mt-5">
          <vs-button
            color="primary"
            type="filled"
            icon-pack="feather"
            icon="icon-download"
            :disabled="selectedField.length == 0"
          >
            <json-excel :data="emp" :fields="field" :type="type" :name="getFilename()">Download Data</json-excel>
          </vs-button>
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import JsonExcel from "vue-json-excel";
import employees from "@/assets/json/employees";
import { fields } from "@/utils/excel/params";

export default {
  data() {
    return {
      emp: employees,
      field: fields,
      type: "xls",
      selectedField: []
    };
  },
  components: {
    JsonExcel
  },
  methods: {
    getFilename() {
      let now = new Date(Date.now());
      now = now.getDate() + "-" + now.getMonth() + "-" + now.getFullYear();
      return "Data Pegawai " + now + "." + this.type;
    }
  }
};
</script>