<template>
  <div class="h-screen flex w-full bg-img">
    <div
      class="vx-col flex items-center justify-center flex-col sm:w-1/2 md:w-3/5 lg:w-3/4 xl:w-1/2 mx-auto text-center"
    >
      <img src="@/assets/images/pages/404.png" alt="graphic-404" class="mx-auto mb-4 max-w-full" />
      <h1 class="sm:mx-0 mx-4 mb-12 text-5xl text-primary">404 - Halaman Tidak Ditemukan!</h1>
      <p class="sm:mx-0 mx-4 text-primary font-medium text-lg">
        Mohon maaf, halaman yang Anda cari tidak ditemukan.
        Kemungkinan halaman telah dihapus atau Anda salah menuliskan URL.
      </p>
      <p
        class="sm:mx-0 mx-4 sm:mb-12 mb-8 text-primary font-medium text-lg"
      >Silahkan coba kembali, Terima Kasih.</p>
      <vs-button size="large" :to="{name: 'home'}">Kembali Ke Halaman Utama</vs-button>
    </div>
  </div>
</template>
