<template>
  <div class="h-screen flex w-full bg-img">
    <div
      class="vx-col flex items-center justify-center flex-col sm:w-1/2 md:w-3/5 lg:w-3/4 xl:w-1/2 mx-auto text-center"
    >
      <img
        src="@/assets/images/pages/maintenance-2.png"
        alt="graphic-maintenance"
        class="mx-auto mb-4"
      />
      <h1 class="sm:mx-0 mx-4 mb-12 text-5xl text-primary">Sedang Dalam Perbaikan!</h1>
      <p
        class="sm:mx-0 mx-4 text-primary font-medium text-lg"
      >Mohon maaf jika telah membuat Anda tidak nyaman. Untuk saat ini, website kami sedang dalam perbaikan.</p>
      <p
        class="sm:mx-0 mx-4 sm:mb-12 mb-8 text-primary font-medium text-lg"
      >Terima kasih atas pengertian Anda.</p>
      <vs-button size="large" :to="{name: 'home'}">Kembali Ke Halaman Utama</vs-button>
    </div>
  </div>
</template>
