<template>
  <div class="h-screen flex w-full bg-img">
    <div
      class="vx-col flex items-center justify-center flex-col sm:w-1/2 md:w-3/5 lg:w-3/4 xl:w-1/2 mx-auto text-center"
    >
      <img
        src="@/assets/images/pages/not-authorized.png"
        alt="graphic-not-authorized"
        class="mx-auto mb-4"
      />
      <h1
        class="sm:mx-0 mx-4 sm:mb-12 mb-8 text-5xl text-primary"
      >Anda Tidak Diizinkan Mengakses Halaman Ini.</h1>
      <p
        class="sm:mx-0 mx-4 sm:mb-12 mb-8 text-primary font-medium text-lg"
      >Halaman ini hanya bisa diakses oleh akun yang sudah diizinkan, silahkan coba lagi dengan menggunakan akun yang valid dan sudah diizinkan, Terima kasih.</p>
      <vs-button size="large" :to="{name: 'home'}">Kembali Ke Halaman Utama</vs-button>
    </div>
  </div>
</template>
