<template>
  <div class="h-screen flex w-full bg-img">
    <div class="vx-col w-4/5 sm:w-4/5 md:w-3/5 lg:w-3/4 xl:w-3/5 mx-auto self-center">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row">
            <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
              <img src="@/assets/images/pages/reset-password.png" alt="login" class="mx-auto" />
            </div>
            <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center d-theme-dark-bg">
              <div class="p-8">
                <div v-if="is_activation" class="vx-card__title mb-8">
                  <h4 class="mb-4">Halaman Aktivasi Akun</h4>
                  <p>
                    Silahkan buat kata sandi untuk menyelesaikan proses aktivasi
                    akun anda.
                  </p>
                </div>
                <div v-else class="vx-card__title mb-8">
                  <h4 class="mb-4">Halaman Ubah Kata Sandi</h4>
                  <p>Silahkan buat kata sandi baru untuk akun anda.</p>
                </div>

                <vs-input
                  v-validate="'required|min:8'"
                  data-vv-validate-on="blur"
                  type="password"
                  name="new-password"
                  ref="new-password"
                  icon="icon icon-lock"
                  icon-pack="feather"
                  label-placeholder="Kata Sandi"
                  v-model="new_password"
                  class="w-full mt-6 no-icon-border"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('new-password')"
                >{{ errors.first("new-password") }}</span>

                <vs-input
                  v-validate="'required|confirmed:new-password'"
                  data-vv-validate-on="blur"
                  type="password"
                  name="confirm-password"
                  icon="icon icon-lock"
                  icon-pack="feather"
                  label-placeholder="Konfirmasi Kata Sandi"
                  v-model="confirm_password"
                  class="w-full mt-6 no-icon-border"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('confirm-password')"
                >{{ errors.first("confirm-password") }}</span>

                <div class="mt-4">
                  <vs-button
                    v-if="is_activation"
                    class="px-4 w-full mt-3 mb-3"
                    :disabled="!validateForm"
                    @click="resetPassword"
                  >Aktivasi Akun</vs-button>
                  <vs-button
                    v-else
                    class="px-4 w-full mt-3 mb-3"
                    :disabled="!validateForm"
                    @click="resetPassword"
                  >Ubah Kata Sandi</vs-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import { AUTH_PASSWORD_SETTING } from "@/store/action-types";

export default {
  data() {
    return {
      new_password: "",
      confirm_password: "",
      is_activation: JSON.parse(this.$router.currentRoute.query.is_activation)
    };
  },
  created() {
    const dict = {
      custom: {
        "new-password": {
          required: "Silahkan masukkan kata sandi anda.",
          min: "Kata sandi kurang dari 8 digit, silahkan periksa kembali."
        },
        "confirm-password": {
          required: "Silahkan masukkan kata sandi anda.",
          confirmed: "Kata sandi tidak sama, silahkan periksa kembali."
        }
      }
    };
    this.$validator.localize("en", dict);
  },
  computed: {
    validateForm() {
      return (
        !this.errors.any() &&
        this.new_password != "" &&
        this.confirm_password != ""
      );
    }
  },
  methods: {
    resetPassword() {
      const payload = {
        user_credential: {
          password: this.new_password,
          token: this.$router.currentRoute.query.token
        },
        notify: this.$vs.notify
      };
      this.$store
        .dispatch(AUTH_PASSWORD_SETTING, payload)
        .then(() => this.$router.push({ name: "login" }));
    }
  }
};
</script>
