$icons-path: '~ag-grid-community/src/styles/ag-theme-material/icons/' !default;

$font-family: inherit;
$font-size: inherit;
$font-weight: inherit;
$secondary-font-family: inherit;
$secondary-font-size: inherit;
$secondary-font-weight: 600;

@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss';

@import '../_variables.scss';

.ag-grid-table {
  height: calc(100vh - 30rem);
  @media screen and (max-height: 800px) {
    height: 620px;
  }

  .ag-header-cell {
    .ag-cell-label-container {
      .ag-header-icon.ag-filter-icon {
        display: none;
      }
    }
  }

  // style select of column header filter
  .ag-filter-select {
    padding: 0.3rem;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  // style input of column header filter input
  .ag-filter-filter {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 0 !important;
    padding-bottom: 0 !important;
    height: 25px !important;
    margin-top: 10px;
    margin-bottom: 14px !important;
  }

  // remove extra padding of input in inline edit
  .ag-input-text-wrapper {
    input {
      padding-bottom: 0 !important;
    }
  }

  .ag-cell-inline-editing {
    height: 62px !important;
  }

  .ag-cell-inline-editting,
  .ag-popup-editor {
    padding-bottom: 12px;
  }

  .ag-grid-table-actions-right {
    @media screen and (max-width: 614px) {
      flex-grow: 1;
    }
  }

  .ag-grid-table-actions-left {
    @media screen and (max-width: 614px) and (min-width: 443px) {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  // remove horizontal scroolbar from pinned columns
  .ag-horizontal-left-spacer,
  .ag-horizontal-right-spacer {
    overflow-x: auto;
  }

  // Change material theme icon to vuesax theme color
  .ag-icon-checkbox-checked:empty {
    background-image: url('../../../images/ag-grid/checkbox-checked.svg');
  }

  .ag-icon-checkbox-checked-readonly {
    background-image: url('../../../images/ag-grid/checkbox-checked-readonly.svg');
  }

  .ag-icon-checkbox-indeterminate {
    background-image: url('../../../images/ag-grid/checkbox-indeterminate.svg');
  }

  .ag-icon-checkbox-indeterminate-readonly {
    background-image: url('../../../images/ag-grid/checkbox-indeterminate-readonly.svg');
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $grey-light;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-track {
    background: $theme-background;
    border-radius: 20px;
  }
}

// Can not use vuesax admin variables
// agGrid vars and imported vars may conflict
.theme-dark {
  .ag-grid-table {
    &.ag-theme-material {
      background: transparent;
      color: $theme-dark-text-color;

      .ag-header {
        background: transparent;
        color: $white;
        border-bottom-color: $theme-dark-border-color;
      }

      .ag-cell-last-left-pinned {
        border-right-color: $theme-dark-border-color !important;
      }

      .ag-floating-filter-input {
        color: $theme-dark-text-color;
        border-bottom-color: $theme-dark-border-color;
      }

      .ag-row-hover,
      .ag-header-cell:hover {
        background-color: $theme-light-dark-bg;
      }

      .ag-row-selected {
        background: $theme-light-dark-bg;
      }

      .ag-row,
      .ag-header-cell,
      .ag-header-group-cell,
      .ag-row,
      .ag-pinned-left-header,
      .ag-horizontal-left-spacer,
      .ag-horizontal-right-spacer {
        border-color: $theme-dark-border-color;
      }
    }

    .ag-icon-filter {
      background-image: url('../../../images/ag-grid/dark-filter.svg');
    }

    .ag-icon-filter {
      background-image: url('../../../images/ag-grid/dark-filter.svg');
    }

    .ag-icon-checkbox-unchecked {
      background-image: url('../../../images/ag-grid/dark-checkbox-unchecked.svg');
    }

    .ag-icon-asc {
      background-image: url('../../../images/ag-grid/dark-asc.svg');
    }

    .ag-icon-desc {
      background-image: url('../../../images/ag-grid/dark-desc.svg');
    }

    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: 20px;
    }

    ::-webkit-scrollbar-track {
      background: $theme-light-dark-bg;
      border-radius: 20px;
    }
  }
}
