<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import { UI_UPDATE_WINDOW_WIDTH } from "@/store/action-types";

export default {
  methods: {
    handleWindowResize(event) {
      this.$store.dispatch(
        UI_UPDATE_WINDOW_WIDTH,
        event.currentTarget.innerWidth
      );
    }
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.handleWindowResize);
    });
    this.$store.dispatch(UI_UPDATE_WINDOW_WIDTH, window.innerWidth);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.handleWindowResize);
  }
};
</script>
