<template>
  <div class="layout--main" :class="[navbarClasses, footerClasses, { 'app-page': isAppPage }]">
    <vx-sidebar
      :sidebarItems="sidebarItems"
      :logo="require('@/assets/images/logo/logo-kemnaker.png')"
      title="TU KEMNAKER"
      parent=".layout--main"
    />

    <div id="content-area" :class="[contentAreaClass, { 'show-overlay': bodyOverlay }]">
      <div id="content-overlay"></div>

      <div class="content-wrapper">
        <the-navbar :navbarColor="navbarColor" class="text-base" />

        <div class="router-view">
          <div class="router-content" :class="{ 'mt-0': navbarType == 'hidden' }">
            <transition :name="routerTransition">
              <div
                class="router-header flex flex-wrap items-center mb-6"
                v-if="$route.meta.breadcrumb || $route.meta.pageTitle"
              >
                <div
                  class="content-area__heading"
                  :class="{
                    'pr-4 border-0 md:border-r border-t-0 border-b-0 border-l-0 border-solid border-grey-light':
                      $route.meta.breadcrumb
                  }"
                >
                  <h2 class="mb-1">{{ routeTitle }}</h2>
                </div>

                <!-- BREADCRUMB -->
                <vx-breadcrumb
                  class="ml-4 md:block hidden"
                  v-if="$route.meta.breadcrumb"
                  :route="$route"
                />
              </div>
            </transition>
            <div class="content-area__content">
              <back-to-top bottom="5%" visibleoffset="500" v-if="!hideScrollToTop">
                <vs-button icon-pack="feather" icon="icon-arrow-up" class="shadow-lg" />
              </back-to-top>
              <transition :name="routerTransition" mode="out-in">
                <router-view @changeRouteTitle="changeRouteTitle"></router-view>
              </transition>
            </div>
          </div>
        </div>
      </div>

      <the-footer></the-footer>
    </div>
  </div>
</template>

<script>
import BackToTop from "vue-backtotop";
import TheNavbar from "./components/TheNavbar";
import TheFooter from "./components/TheFooter";
import VxSidebar from "./components/VxSidebar";
import sidebarItems from "./components/sidebarItems";
import { mapGetters } from "vuex";
import { UI_UPDATE_SIDEBAR_WIDTH } from "@/store/action-types";
import { UI_IS_SIDEBAR_ACTIVE } from "@/store/mutation-types";

export default {
  data() {
    return {
      navbarType: "sticky",
      navbarColor: "#fff",
      routerTransition: "zoom-fade",
      footerType: "static",
      hideScrollToTop: false,
      routeTitle: this.$route.meta.pageTitle,
      windowWidth: window.innerWidth,
      sidebarItems: sidebarItems
    };
  },
  watch: {
    $route() {
      this.routeTitle = this.$route.meta.pageTitle;
    }
  },
  computed: {
    ...mapGetters(["sidebarWidth", "bodyOverlay"]),
    isAppPage() {
      if (this.$route.path.includes("/app/")) return true;
      else return false;
    },
    contentAreaClass() {
      return {
        "content-area-default": this.sidebarWidth == "default",
        "content-area-reduced": this.sidebarWidth == "reduced",
        "content-area-full": this.sidebarWidth == "no-sidebar"
      };
    },
    navbarClasses() {
      return {
        "navbar-hidden": this.navbarType == "hidden",
        "navbar-sticky": this.navbarType == "sticky",
        "navbar-static": this.navbarType == "static",
        "navbar-floating": this.navbarType == "floating"
      };
    },
    footerClasses() {
      return {
        "footer-hidden": this.footerType == "hidden",
        "footer-sticky": this.footerType == "sticky",
        "footer-static": this.footerType == "static"
      };
    }
  },
  methods: {
    changeRouteTitle(title) {
      this.routeTitle = title;
    },
    handleWindowResize(event) {
      this.windowWidth = event.currentTarget.innerWidth;
      this.setSidebarWidth();
    },
    setSidebarWidth() {
      if (this.windowWidth < 1200) {
        this.$store.commit(UI_IS_SIDEBAR_ACTIVE, false);
        this.$store.dispatch(UI_UPDATE_SIDEBAR_WIDTH, "no-sidebar");
      } else if (this.windowWidth < 1200) {
        this.$store.dispatch(UI_UPDATE_SIDEBAR_WIDTH, "reduced");
      } else {
        this.$store.commit(UI_IS_SIDEBAR_ACTIVE, true);
      }
    },
    toggleHideScrollToTop(val) {
      this.hideScrollToTop = val;
    }
  },
  components: {
    TheNavbar,
    BackToTop,
    TheFooter,
    VxSidebar
  },
  created() {
    this.setSidebarWidth();
  }
};
</script>
